{
  "openapi": "3.0.1",
  "info": {
    "title": "Open Data Hub Tourism Api - PushResponse",
    "description": "Open Data Hub Tourism Api based on .Net Core with PostgreSQL",
    "termsOfService": "https://opendatahub.readthedocs.io/en/latest/",
    "contact": {
      "name": "Open Data Hub Team",
      "url": "https://opendatahub.com/",
      "email": "help@opendatahub.com"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://tourism.opendatahub.com"
    }
  ],
  "paths": {
    "/v1/PushResponse": {
      "get": {
        "tags": [
          "PushResponse"
        ],
        "summary": "GET PushResponse List",
        "parameters": [
          {
            "name": "pagenumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "IDFilter (Separator ',' List of IDs, 'null' = No Filter), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publisher",
            "in": "query",
            "description": "publisher Filter (Separator ',' List of IDs, 'null' = No Filter), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "begindate",
            "in": "query",
            "description": "BeginDate of Events (Format: yyyy-MM-dd), (default: 'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enddate",
            "in": "query",
            "description": "EndDate of Events (Format: yyyy-MM-dd), (default: 'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objecttypelist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname (default:'null' all fields are displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\" target=\"_blank\">Wiki fields</a>",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "rawfilter",
            "in": "query",
            "description": "<a href=\"https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter\" target=\"_blank\">Wiki rawfilter</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawsort",
            "in": "query",
            "description": "<a href=\"https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawsort\" target=\"_blank\">Wiki rawsort</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "removenullvalues",
            "in": "query",
            "description": "Remove all Null values from json output. Useful for reducing json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\" target=\"_blank\">Opendatahub Wiki</a>",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List created",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PushResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PushResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PushResponse"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PushResponse"
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PushResponse"
                  }
                }
              },
              "application/ldjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PushResponse"
                  }
                }
              },
              "application/rawdata": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PushResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v1/PushResponse/{id}": {
      "get": {
        "tags": [
          "PushResponse"
        ],
        "summary": "GET PushResponse Single",
        "operationId": "SinglePushResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the PushResponse",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname (default:'null' all fields are displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\" target=\"_blank\">Wiki fields</a>",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "removenullvalues",
            "in": "query",
            "description": "Remove all Null values from json output. Useful for reducing json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\" target=\"_blank\">Opendatahub Wiki</a>",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PushResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/PushResponse"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/PushResponse"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/PushResponse"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/PushResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccoBadges": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoBoards": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoBookingChannel": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Pos1ID": {
            "type": "string",
            "nullable": true
          },
          "Portalname": {
            "type": "string",
            "nullable": true
          },
          "BookingId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoCategory": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoDetail": {
        "type": "object",
        "properties": {
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "NameAddition": {
            "type": "string",
            "nullable": true
          },
          "Street": {
            "type": "string",
            "nullable": true
          },
          "Zip": {
            "type": "string",
            "nullable": true
          },
          "Phone": {
            "type": "string",
            "nullable": true
          },
          "Mobile": {
            "type": "string",
            "nullable": true
          },
          "Fax": {
            "type": "string",
            "nullable": true
          },
          "Firstname": {
            "type": "string",
            "nullable": true
          },
          "Lastname": {
            "type": "string",
            "nullable": true
          },
          "Email": {
            "type": "string",
            "nullable": true
          },
          "Website": {
            "type": "string",
            "nullable": true
          },
          "City": {
            "type": "string",
            "nullable": true
          },
          "Shortdesc": {
            "type": "string",
            "nullable": true
          },
          "Longdesc": {
            "type": "string",
            "nullable": true
          },
          "Vat": {
            "type": "string",
            "nullable": true
          },
          "CountryCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoFeatureLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "description": "Use the Id/Selflink to retrieve correct names from the appropriate Endpoint",
            "nullable": true
          },
          "HgvId": {
            "type": "string",
            "nullable": true
          },
          "OtaCodes": {
            "type": "string",
            "nullable": true
          },
          "RoomAmenityCodes": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoFeatures": {
        "type": "object",
        "properties": {
          "ClusterId": {
            "type": "string",
            "nullable": true
          },
          "ClusterCustomId": {
            "type": "string",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Bitmask": {
            "type": "integer",
            "format": "int32"
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "Key": {
            "type": "string",
            "nullable": true
          },
          "TypeDesc": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "CustomId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoHGVInfo": {
        "type": "object",
        "properties": {
          "Bookable": {
            "type": "boolean",
            "nullable": true
          },
          "AvailableFrom": {
            "type": "string",
            "nullable": true
          },
          "PriceFrom": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoLTSInfo": {
        "type": "object",
        "properties": {
          "PriceFrom": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "PriceFromPerUnit": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoOverview": {
        "type": "object",
        "properties": {
          "TotalRooms": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "SingleRooms": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "DoubleRooms": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "TripleRooms": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "QuadrupleRooms": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Apartments": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "ApartmentBeds": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "MaxPersons": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "OutdoorParkings": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "GarageParkings": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "CampingUnits": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "CampingWashrooms": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "CampingDouches": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "CampingToilettes": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "CampingWashingstands": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "ApartmentRoomSize": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "CheckInFrom": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "CheckInTo": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "CheckOutFrom": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "CheckOutTo": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "ReceptionOpenFrom": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "ReceptionOpenTo": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "RoomServiceFrom": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "RoomServiceTo": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "BaggageServiceFrom": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "BaggageServiceTo": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoProperties": {
        "type": "object",
        "properties": {
          "HasApartment": {
            "type": "boolean",
            "nullable": true
          },
          "HasRoom": {
            "type": "boolean",
            "nullable": true
          },
          "IsCamping": {
            "type": "boolean",
            "nullable": true
          },
          "IsGastronomy": {
            "type": "boolean",
            "nullable": true
          },
          "IsBookable": {
            "type": "boolean",
            "nullable": true
          },
          "IsAccommodation": {
            "type": "boolean",
            "nullable": true
          },
          "HasDorm": {
            "type": "boolean",
            "nullable": true
          },
          "HasPitches": {
            "type": "boolean",
            "nullable": true
          },
          "TVMember": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoRoomDetail": {
        "type": "object",
        "properties": {
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Longdesc": {
            "type": "string",
            "nullable": true
          },
          "Shortdesc": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoRoomInfoLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoSpecialFeatures": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoThemes": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoType": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoTypes": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Bitmask": {
            "type": "integer",
            "format": "int32"
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "Key": {
            "type": "string",
            "nullable": true
          },
          "TypeDesc": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "CustomId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccommodationRoomLinked": {
        "type": "object",
        "properties": {
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "Self": {
            "type": "string",
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "Features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoFeatureLinked"
            },
            "nullable": true
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "A0RID": {
            "type": "string",
            "nullable": true
          },
          "Roomtype": {
            "type": "string",
            "nullable": true
          },
          "AccoRoomDetail": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/AccoRoomDetail"
            },
            "nullable": true
          },
          "ImageGallery": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGallery"
            },
            "nullable": true
          },
          "HasLanguage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "LTSId": {
            "type": "string",
            "nullable": true
          },
          "HGVId": {
            "type": "string",
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "RoomCode": {
            "type": "string",
            "nullable": true
          },
          "Roommax": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Roommin": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Roomstd": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "PriceFrom": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "RoomQuantity": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "RoomNumbers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "RoomClassificationCodes": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "RoomtypeInt": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "Active": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "AccommodationV2": {
        "type": "object",
        "properties": {
          "Review": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Review"
            },
            "nullable": true
          },
          "AccoProperties": {
            "$ref": "#/components/schemas/AccoProperties"
          },
          "OperationSchedule": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperationSchedule"
            },
            "nullable": true
          },
          "RatePlan": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RatePlan"
            },
            "nullable": true
          },
          "TrustYouID": {
            "type": "string",
            "description": "Deprecated, use Review.trustyou",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "TrustYouScore": {
            "type": "number",
            "description": "Deprecated, use Review.trustyou",
            "format": "double",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "TrustYouResults": {
            "type": "integer",
            "description": "Deprecated, use Review.trustyou",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "TrustYouActive": {
            "type": "boolean",
            "description": "Deprecated, use Review.trustyou",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "TrustYouState": {
            "type": "integer",
            "description": "Deprecated, use Review.trustyou",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "HasApartment": {
            "type": "boolean",
            "description": "Deprecated, use AccoProperties.HasApartment",
            "readOnly": true,
            "deprecated": true
          },
          "HasRoom": {
            "type": "boolean",
            "description": "Deprecated, use AccoProperties.HasRoom",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "IsCamping": {
            "type": "boolean",
            "description": "Deprecated, use AccoProperties.IsCamping",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "IsGastronomy": {
            "type": "boolean",
            "description": "Deprecated, use AccoProperties.IsGastronomy",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "IsBookable": {
            "type": "boolean",
            "description": "Deprecated, use AccoProperties.IsBookable",
            "readOnly": true,
            "deprecated": true
          },
          "IsAccommodation": {
            "type": "boolean",
            "description": "Deprecated, use AccoProperties.IsAccommodation",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "TVMember": {
            "type": "boolean",
            "description": "Deprecated, use AccoProperties.TVMember",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "Tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tags"
            },
            "nullable": true
          },
          "TagIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "Self": {
            "type": "string",
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "OdhActive": {
            "type": "boolean",
            "description": "generated field",
            "readOnly": true
          },
          "ODHTags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ODHTags"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "AccoType": {
            "$ref": "#/components/schemas/AccoType"
          },
          "AccoCategory": {
            "$ref": "#/components/schemas/AccoCategory"
          },
          "AccoBoards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoBoards"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "AccoBadges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoBadges"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "AccoThemes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoThemes"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "AccoSpecialFeatures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoSpecialFeatures"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "Features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoFeatureLinked"
            },
            "nullable": true
          },
          "AccoRoomInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoRoomInfoLinked"
            },
            "nullable": true
          },
          "LocationInfo": {
            "$ref": "#/components/schemas/LocationInfoLinked"
          },
          "GpsInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "nullable": true
          },
          "Gpstype": {
            "type": "string",
            "description": "generated field",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "Latitude": {
            "type": "number",
            "description": "generated field",
            "format": "double",
            "readOnly": true,
            "deprecated": true
          },
          "Longitude": {
            "type": "number",
            "description": "generated field",
            "format": "double",
            "readOnly": true,
            "deprecated": true
          },
          "Altitude": {
            "type": "number",
            "description": "generated field",
            "format": "double",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "AltitudeUnitofMeasure": {
            "type": "string",
            "description": "generated field",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "GpsPoints": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Active": {
            "type": "boolean",
            "description": "Data is marked as Active by the data provider"
          },
          "HgvId": {
            "type": "string",
            "description": "Accommodation ID on the HGV System, use Mapping instead",
            "nullable": true,
            "deprecated": true
          },
          "Shortname": {
            "type": "string",
            "description": "Use AccoDetail.lang.Name",
            "nullable": true,
            "deprecated": true
          },
          "Representation": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "SmgActive": {
            "type": "boolean",
            "description": "Obsolete, use PublishedOn",
            "deprecated": true
          },
          "TourismVereinId": {
            "type": "string",
            "nullable": true
          },
          "MainLanguage": {
            "type": "string",
            "nullable": true
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "DistanceInfo": {
            "$ref": "#/components/schemas/DistanceInfo"
          },
          "AccoCategoryId": {
            "type": "string",
            "nullable": true
          },
          "AccoTypeId": {
            "type": "string",
            "nullable": true
          },
          "DistrictId": {
            "type": "string",
            "nullable": true
          },
          "BoardIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "MarketingGroupIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "BadgeIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ThemeIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "SpecialFeaturesIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "AccoDetail": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/AccoDetail"
            },
            "nullable": true
          },
          "AccoBookingChannel": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoBookingChannel"
            },
            "nullable": true
          },
          "ImageGallery": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGallery"
            },
            "nullable": true
          },
          "GastronomyId": {
            "type": "string",
            "nullable": true
          },
          "SmgTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "HasLanguage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "MssResponseShort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MssResponseShort"
            },
            "nullable": true
          },
          "IndependentData": {
            "$ref": "#/components/schemas/IndependentData"
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "AccoHGVInfo": {
            "$ref": "#/components/schemas/AccoHGVInfo"
          },
          "AccoLTSInfo": {
            "$ref": "#/components/schemas/AccoLTSInfo"
          },
          "AccoOverview": {
            "$ref": "#/components/schemas/AccoOverview"
          }
        },
        "additionalProperties": false
      },
      "AccommodationV2JsonResult": {
        "type": "object",
        "properties": {
          "TotalResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "CurrentPage": {
            "type": "integer",
            "format": "int32"
          },
          "PreviousPage": {
            "type": "string",
            "nullable": true
          },
          "NextPage": {
            "type": "string",
            "nullable": true
          },
          "Seed": {
            "type": "string",
            "nullable": true
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccommodationV2"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccommodationV2JsonResultWithBookingInfo": {
        "type": "object",
        "properties": {
          "AvailableOnline": {
            "type": "integer",
            "format": "int32"
          },
          "AvailableOnRequest": {
            "type": "integer",
            "format": "int32"
          },
          "AccommodationsRequested": {
            "type": "integer",
            "format": "int32"
          },
          "ResultId": {
            "type": "string",
            "nullable": true
          },
          "OnlineResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "CurrentPage": {
            "type": "integer",
            "format": "int32"
          },
          "PreviousPage": {
            "type": "string",
            "nullable": true
          },
          "NextPage": {
            "type": "string",
            "nullable": true
          },
          "Seed": {
            "type": "string",
            "nullable": true
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccommodationV2"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ActivityLtsDataProperties": {
        "type": "object",
        "properties": {
          "AltitudeDifference": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AltitudeHighestPoint": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AltitudeLowestPoint": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AltitudeSumUp": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AltitudeSumDown": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "DistanceDuration": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "DistanceLength": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "IsOpen": {
            "type": "boolean",
            "nullable": true
          },
          "IsPrepared": {
            "type": "boolean",
            "nullable": true
          },
          "RunToValley": {
            "type": "boolean",
            "nullable": true
          },
          "IsWithLigth": {
            "type": "boolean",
            "nullable": true
          },
          "HasRentals": {
            "type": "boolean",
            "nullable": true
          },
          "LiftAvailable": {
            "type": "boolean",
            "nullable": true
          },
          "FeetClimb": {
            "type": "boolean",
            "nullable": true
          },
          "BikeTransport": {
            "type": "boolean",
            "nullable": true
          },
          "Ratings": {
            "$ref": "#/components/schemas/Ratings"
          },
          "Exposition": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "WayNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Number": {
            "type": "string",
            "nullable": true
          },
          "MountainBikePermitted": {
            "type": "boolean",
            "nullable": true
          },
          "LiftType": {
            "type": "string",
            "nullable": true
          },
          "LiftCapacityType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AdditionalArticleInfos": {
        "type": "object",
        "properties": {
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Elements": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AdditionalContact": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "nullable": true
          },
          "ContactInfos": {
            "$ref": "#/components/schemas/ContactInfos"
          },
          "Description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AdditionalPoiInfos": {
        "type": "object",
        "properties": {
          "Novelty": {
            "type": "string",
            "nullable": true
          },
          "MainType": {
            "type": "string",
            "description": "Deprecated, Use Tags instead",
            "nullable": true,
            "deprecated": true
          },
          "SubType": {
            "type": "string",
            "description": "Deprecated, Use Tags instead",
            "nullable": true,
            "deprecated": true
          },
          "PoiType": {
            "type": "string",
            "description": "Deprecated, Use Tags instead",
            "nullable": true,
            "deprecated": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Deprecated, Use Tags instead",
            "nullable": true,
            "deprecated": true
          }
        },
        "additionalProperties": false
      },
      "AgeRange": {
        "type": "object",
        "properties": {
          "AgeFrom": {
            "type": "integer",
            "format": "int32"
          },
          "AgeTo": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Announcement": {
        "type": "object",
        "properties": {
          "StartTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "EndTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Detail": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Detail"
            },
            "nullable": true
          },
          "RelatedContent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedContent"
            },
            "nullable": true
          },
          "GpsPoints": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "Active": {
            "type": "boolean"
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "HasLanguage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "AdditionalProperties": {
            "type": "object",
            "properties": {
              "EchargingDataProperties": {
                "$ref": "#/components/schemas/EchargingDataProperties"
              },
              "ActivityLtsDataProperties": {
                "$ref": "#/components/schemas/ActivityLtsDataProperties"
              },
              "PoiLtsDataProperties": {
                "$ref": "#/components/schemas/PoiLtsDataProperties"
              },
              "GastronomyLtsDataProperties": {
                "$ref": "#/components/schemas/GastronomyLtsDataProperties"
              },
              "PoiAgeDataProperties": {
                "$ref": "#/components/schemas/PoiAgeDataProperties"
              },
              "SuedtirolWeinCompanyDataProperties": {
                "$ref": "#/components/schemas/SuedtirolWeinCompanyDataProperties"
              },
              "RoadIncidentProperties": {
                "$ref": "#/components/schemas/RoadIncidentProperties"
              }
            },
            "additionalProperties": false,
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tags"
            },
            "nullable": true
          },
          "TagIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "GpsInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AreaInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "This Name field is a Helper field and may contain not updated LocationInfo Names, Use the Id/Selflink to retrieve correct names from the appropriate Endpoint",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AreaInfoLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "This Name field is a Helper field and may contain not updated LocationInfo Names, Use the Id/Selflink to retrieve correct names from the appropriate Endpoint",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AreaLink": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AreaLinked": {
        "type": "object",
        "properties": {
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "Self": {
            "type": "string",
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "OdhActive": {
            "type": "boolean",
            "description": "generated field",
            "readOnly": true
          },
          "Region": {
            "$ref": "#/components/schemas/RegionLink"
          },
          "Municipality": {
            "$ref": "#/components/schemas/MunicipalityLink"
          },
          "Tourismassociation": {
            "$ref": "#/components/schemas/TourismAssociationLink"
          },
          "SkiArea": {
            "$ref": "#/components/schemas/SkiAreaLink"
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Active": {
            "type": "boolean"
          },
          "SmgActive": {
            "type": "boolean",
            "description": "Obsolete, use PublishedOn",
            "deprecated": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "CustomId": {
            "type": "string",
            "nullable": true
          },
          "RegionId": {
            "type": "string",
            "nullable": true
          },
          "TourismvereinId": {
            "type": "string",
            "nullable": true
          },
          "MunicipalityId": {
            "type": "string",
            "nullable": true
          },
          "SkiAreaID": {
            "type": "string",
            "nullable": true
          },
          "GID": {
            "type": "string",
            "nullable": true
          },
          "LtsID": {
            "type": "string",
            "nullable": true
          },
          "AreaType": {
            "type": "string",
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Detail": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Detail"
            },
            "nullable": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AreaLinkedJsonResult": {
        "type": "object",
        "properties": {
          "TotalResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "CurrentPage": {
            "type": "integer",
            "format": "int32"
          },
          "PreviousPage": {
            "type": "string",
            "nullable": true
          },
          "NextPage": {
            "type": "string",
            "nullable": true
          },
          "Seed": {
            "type": "string",
            "nullable": true
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AreaLinked"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ArticleLinkInfo": {
        "type": "object",
        "properties": {
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Elements": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ArticleTypes": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Bitmask": {
            "type": "integer",
            "format": "int64"
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "Parent": {
            "type": "string",
            "nullable": true
          },
          "Key": {
            "type": "string",
            "nullable": true
          },
          "TypeDesc": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ArticlesLinked": {
        "type": "object",
        "properties": {
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "Self": {
            "type": "string",
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "OdhActive": {
            "type": "boolean",
            "description": "generated field",
            "readOnly": true
          },
          "ArticleTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ODHActivityPoiTypesLink"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "ArticleTypeList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "ODHTags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ODHTags"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "Tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tags"
            },
            "nullable": true
          },
          "TagIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Active": {
            "type": "boolean"
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "Highlight": {
            "type": "boolean",
            "nullable": true
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "SubType": {
            "type": "string",
            "nullable": true
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "SmgActive": {
            "type": "boolean",
            "description": "Obsolete, use PublishedOn",
            "deprecated": true
          },
          "ArticleDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ArticleDateTo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "OperationSchedule": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperationSchedule"
            },
            "nullable": true
          },
          "GpsInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "nullable": true
          },
          "GpsTrack": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpsTrack"
            },
            "nullable": true
          },
          "ImageGallery": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGallery"
            },
            "nullable": true
          },
          "Detail": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Detail"
            },
            "nullable": true
          },
          "ContactInfos": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ContactInfos"
            },
            "nullable": true
          },
          "AdditionalArticleInfos": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/AdditionalArticleInfos"
            },
            "nullable": true
          },
          "ArticleLinkInfo": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ArticleLinkInfo"
            },
            "nullable": true
          },
          "SmgTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "HasLanguage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ExpirationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "GpsPoints": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "DistanceInfo": {
            "$ref": "#/components/schemas/DistanceInfo"
          },
          "VideoItems": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/VideoItems"
              }
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ArticlesLinkedJsonResult": {
        "type": "object",
        "properties": {
          "TotalResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "CurrentPage": {
            "type": "integer",
            "format": "int32"
          },
          "PreviousPage": {
            "type": "string",
            "nullable": true
          },
          "NextPage": {
            "type": "string",
            "nullable": true
          },
          "Seed": {
            "type": "string",
            "nullable": true
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArticlesLinked"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Bank": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Iban": {
            "type": "string",
            "nullable": true
          },
          "Swift": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BezirksForecast": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Obsolete, use Date",
            "format": "date-time",
            "readOnly": true,
            "deprecated": true
          },
          "Date": {
            "type": "string",
            "format": "date-time"
          },
          "WeatherCode": {
            "type": "string",
            "nullable": true
          },
          "WeatherDesc": {
            "type": "string",
            "nullable": true
          },
          "WeatherImgUrl": {
            "type": "string",
            "nullable": true
          },
          "Weathercode": {
            "type": "string",
            "description": "Obsolete, use WeatherCode",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "Weatherdesc": {
            "type": "string",
            "description": "Obsolete, use WeatherDesc",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "WeatherImgurl": {
            "type": "string",
            "description": "Obsolete, use WeatherImgUrl",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "MaxTemp": {
            "type": "integer",
            "format": "int32"
          },
          "MinTemp": {
            "type": "integer",
            "format": "int32"
          },
          "Freeze": {
            "type": "integer",
            "format": "int32"
          },
          "RainFrom": {
            "type": "integer",
            "format": "int32"
          },
          "RainTo": {
            "type": "integer",
            "format": "int32"
          },
          "Part1": {
            "type": "integer",
            "format": "int32"
          },
          "Part2": {
            "type": "integer",
            "format": "int32"
          },
          "Part3": {
            "type": "integer",
            "format": "int32"
          },
          "Part4": {
            "type": "integer",
            "format": "int32"
          },
          "Thunderstorm": {
            "type": "integer",
            "format": "int32"
          },
          "SymbolId": {
            "type": "integer",
            "format": "int32"
          },
          "Reliability": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BezirksWeather": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "format": "int32"
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "DistrictName": {
            "type": "string",
            "nullable": true
          },
          "date": {
            "type": "string",
            "description": "Obsolete, use Date",
            "format": "date-time",
            "readOnly": true,
            "deprecated": true
          },
          "Date": {
            "type": "string",
            "format": "date-time"
          },
          "TourismVereinIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "BezirksForecast": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BezirksForecast"
            },
            "nullable": true
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          }
        },
        "additionalProperties": false
      },
      "CancelPolicy": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Refundable": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "RefundableUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "Penalties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Penalty"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CapacityCeremony": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "MaxSeatingCapacity": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CapacityCeremonyLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "MaxSeatingCapacity": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CategoryCodes": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CategoryCodesLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CheapestOffer": {
        "type": "object",
        "properties": {
          "RoomId": {
            "type": "string",
            "nullable": true
          },
          "RoomSeq": {
            "type": "integer",
            "format": "int32"
          },
          "Price": {
            "type": "number",
            "format": "double"
          },
          "RoomFree": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CheapestRoomCombination": {
        "type": "object",
        "properties": {
          "CheapestRoomCombinationDetail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheapestOffer"
            },
            "nullable": true
          },
          "Service": {
            "type": "string",
            "nullable": true
          },
          "Price": {
            "type": "number",
            "format": "double",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "CompanyLink": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conditions": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Obsolete, use Date",
            "format": "date-time",
            "readOnly": true,
            "deprecated": true
          },
          "Weatherdesc": {
            "type": "string",
            "description": "Obsolete, use WeatherDesc",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "WeatherImgurl": {
            "type": "string",
            "description": "Obsolete, use WeatherImgUrl",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "bulletinStatus": {
            "type": "integer",
            "description": "Obsolete, use BulletinStatus",
            "format": "int32",
            "readOnly": true,
            "deprecated": true
          },
          "Date": {
            "type": "string",
            "format": "date-time"
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "WeatherCondition": {
            "type": "string",
            "nullable": true
          },
          "Temperatures": {
            "type": "string",
            "nullable": true
          },
          "WeatherDesc": {
            "type": "string",
            "nullable": true
          },
          "WeatherImgUrl": {
            "type": "string",
            "nullable": true
          },
          "Reliability": {
            "type": "string",
            "nullable": true
          },
          "TempMaxmax": {
            "type": "integer",
            "format": "int32"
          },
          "TempMaxmin": {
            "type": "integer",
            "format": "int32"
          },
          "TempMinmax": {
            "type": "integer",
            "format": "int32"
          },
          "TempMinmin": {
            "type": "integer",
            "format": "int32"
          },
          "BulletinStatus": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ContactInfos": {
        "type": "object",
        "properties": {
          "Address": {
            "type": "string",
            "description": "Street Address",
            "nullable": true
          },
          "Region": {
            "type": "string",
            "description": "Region (Province / State / Departement / Canton etc...",
            "nullable": true
          },
          "RegionCode": {
            "type": "string",
            "description": "Regioncode",
            "nullable": true
          },
          "Area": {
            "type": "string",
            "description": "Area (Additional Area Name)",
            "nullable": true
          },
          "City": {
            "type": "string",
            "nullable": true
          },
          "ZipCode": {
            "type": "string",
            "nullable": true
          },
          "CountryCode": {
            "type": "string",
            "nullable": true
          },
          "CountryName": {
            "type": "string",
            "nullable": true
          },
          "Surname": {
            "type": "string",
            "nullable": true
          },
          "Givenname": {
            "type": "string",
            "nullable": true
          },
          "NamePrefix": {
            "type": "string",
            "nullable": true
          },
          "Email": {
            "type": "string",
            "nullable": true
          },
          "Phonenumber": {
            "type": "string",
            "nullable": true
          },
          "Faxnumber": {
            "type": "string",
            "nullable": true
          },
          "Url": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "CompanyName": {
            "type": "string",
            "nullable": true
          },
          "Vat": {
            "type": "string",
            "nullable": true
          },
          "Tax": {
            "type": "string",
            "nullable": true
          },
          "LogoUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Coordinate": {
        "type": "object",
        "properties": {
          "X": {
            "type": "number",
            "format": "double"
          },
          "Y": {
            "type": "number",
            "format": "double"
          },
          "Z": {
            "type": "number",
            "format": "double"
          },
          "M": {
            "type": "number",
            "format": "double"
          },
          "CoordinateValue": {
            "$ref": "#/components/schemas/Coordinate"
          },
          "IsValid": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "CoordinateEqualityComparer": {
        "type": "object",
        "additionalProperties": false
      },
      "CoordinateSequence": {
        "type": "object",
        "properties": {
          "Dimension": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "Measures": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "Spatial": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "Ordinates": {
            "$ref": "#/components/schemas/Ordinates"
          },
          "HasZ": {
            "type": "boolean",
            "readOnly": true
          },
          "HasM": {
            "type": "boolean",
            "readOnly": true
          },
          "ZOrdinateIndex": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "MOrdinateIndex": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "First": {
            "$ref": "#/components/schemas/Coordinate"
          },
          "Last": {
            "$ref": "#/components/schemas/Coordinate"
          },
          "Count": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "CoordinateSequenceFactory": {
        "type": "object",
        "properties": {
          "Ordinates": {
            "$ref": "#/components/schemas/Ordinates"
          }
        },
        "additionalProperties": false
      },
      "DDVenueCodes": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Code": {
            "type": "string",
            "nullable": true
          },
          "TypeDesc": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "Name": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "Bitmask": {
            "type": "integer",
            "format": "int32"
          },
          "Type": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Detail": {
        "type": "object",
        "properties": {
          "Header": {
            "type": "string",
            "nullable": true
          },
          "SubHeader": {
            "type": "string",
            "nullable": true
          },
          "IntroText": {
            "type": "string",
            "nullable": true
          },
          "BaseText": {
            "type": "string",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "AdditionalText": {
            "type": "string",
            "nullable": true
          },
          "MetaTitle": {
            "type": "string",
            "nullable": true
          },
          "MetaDesc": {
            "type": "string",
            "nullable": true
          },
          "GetThereText": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ParkingInfo": {
            "type": "string",
            "nullable": true
          },
          "PublicTransportationInfo": {
            "type": "string",
            "nullable": true
          },
          "AuthorTip": {
            "type": "string",
            "nullable": true
          },
          "SafetyInfo": {
            "type": "string",
            "nullable": true
          },
          "EquipmentInfo": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DetailThemed": {
        "type": "object",
        "properties": {
          "DetailsThemed": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/DetailsThemed"
            },
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DetailsThemed": {
        "type": "object",
        "properties": {
          "Title": {
            "type": "string",
            "nullable": true
          },
          "Intro": {
            "type": "string",
            "nullable": true
          },
          "MetaTitle": {
            "type": "string",
            "nullable": true
          },
          "MetaDesc": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Dimension": {
        "enum": [
          "Point",
          "Curve",
          "A",
          "Collapse",
          "Dontcare",
          "True",
          "False"
        ],
        "type": "string"
      },
      "DishRates": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "MinAmount": {
            "type": "number",
            "format": "double"
          },
          "MaxAmount": {
            "type": "number",
            "format": "double"
          },
          "CurrencyCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DishRatesLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "MinAmount": {
            "type": "number",
            "format": "double"
          },
          "MaxAmount": {
            "type": "number",
            "format": "double"
          },
          "CurrencyCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DistanceInfo": {
        "type": "object",
        "properties": {
          "DistanceToMunicipality": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "DistanceToDistrict": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DistrictInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "description": "This Name field is a Helper field and may contain not updated LocationInfo Names, Use the Id/Selflink to retrieve correct names from the appropriate Endpoint",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DistrictInfoLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "description": "This Name field is a Helper field and may contain not updated LocationInfo Names, Use the Id/Selflink to retrieve correct names from the appropriate Endpoint",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DistrictLink": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DistrictLinked": {
        "type": "object",
        "properties": {
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "Self": {
            "type": "string",
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "ODHTags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ODHTags"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "OdhActive": {
            "type": "boolean",
            "description": "generated field",
            "readOnly": true
          },
          "Region": {
            "$ref": "#/components/schemas/RegionLink"
          },
          "Municipality": {
            "$ref": "#/components/schemas/MunicipalityLink"
          },
          "Tourismassociation": {
            "$ref": "#/components/schemas/TourismAssociationLink"
          },
          "GpsInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "nullable": true
          },
          "Gpstype": {
            "type": "string",
            "description": "generated field",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "Latitude": {
            "type": "number",
            "description": "generated field",
            "format": "double",
            "readOnly": true,
            "deprecated": true
          },
          "Longitude": {
            "type": "number",
            "description": "generated field",
            "format": "double",
            "readOnly": true,
            "deprecated": true
          },
          "Altitude": {
            "type": "number",
            "description": "generated field",
            "format": "double",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "AltitudeUnitofMeasure": {
            "type": "string",
            "description": "generated field",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "GpsPoints": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "IsComune": {
            "type": "boolean",
            "nullable": true
          },
          "RegionId": {
            "type": "string",
            "nullable": true,
            "isReferencedTo": "TESTRegionID"
          },
          "TourismvereinId": {
            "type": "string",
            "nullable": true
          },
          "MunicipalityId": {
            "type": "string",
            "nullable": true
          },
          "SiagId": {
            "type": "string",
            "nullable": true
          },
          "GpsPolygon": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpsPolygon"
            },
            "nullable": true
          },
          "VisibleInSearch": {
            "type": "boolean"
          },
          "RelatedContent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedContent"
            },
            "nullable": true
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Active": {
            "type": "boolean"
          },
          "CustomId": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "Detail": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Detail"
            },
            "nullable": true
          },
          "ContactInfos": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ContactInfos"
            },
            "nullable": true
          },
          "ImageGallery": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGallery"
            },
            "nullable": true
          },
          "SmgTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "SmgActive": {
            "type": "boolean",
            "description": "Obsolete, use PublishedOn",
            "deprecated": true
          },
          "HasLanguage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "DistanceInfo": {
            "$ref": "#/components/schemas/DistanceInfo"
          }
        },
        "additionalProperties": false
      },
      "DistrictLinkedJsonResult": {
        "type": "object",
        "properties": {
          "TotalResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "CurrentPage": {
            "type": "integer",
            "format": "int32"
          },
          "PreviousPage": {
            "type": "string",
            "nullable": true
          },
          "NextPage": {
            "type": "string",
            "nullable": true
          },
          "Seed": {
            "type": "string",
            "nullable": true
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DistrictLinked"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Document": {
        "type": "object",
        "properties": {
          "DocumentName": {
            "type": "string",
            "nullable": true
          },
          "DocumentURL": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DocumentDetailed": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "nullable": true
          },
          "DocumentExtension": {
            "type": "string",
            "nullable": true
          },
          "DocumentMimeType": {
            "type": "string",
            "nullable": true
          },
          "DocumentName": {
            "type": "string",
            "nullable": true
          },
          "DocumentURL": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DocumentPDF": {
        "type": "object",
        "properties": {
          "DocumentURL": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EchargingCarparkingArea": {
        "type": "object",
        "properties": {
          "Flat": {
            "type": "boolean",
            "description": "Eben (wenn Steigung <5% und Querneigung <3%)",
            "nullable": true
          },
          "Gradient": {
            "type": "number",
            "description": "Steigung % (wenn Steigung >5%)",
            "format": "double",
            "nullable": true
          },
          "LateralInclination": {
            "type": "number",
            "description": "Querneigung % (wenn Querneigung >3%)",
            "format": "double",
            "nullable": true
          },
          "Pavement": {
            "enum": [
              "Barrierefrei",
              "Bedingt zug\u00e4nglich",
              "Nicht zug\u00e4nglich"
            ],
            "type": "string",
            "nullable": true
          },
          "Width": {
            "type": "integer",
            "description": "Width, (on column barrierfree = 350 cm), (on row barrierfree = 250 cm)",
            "format": "int32",
            "nullable": true
          },
          "Length": {
            "type": "integer",
            "description": "Length, (on column barrierfree = 500 cm), (on row barrierfree = 650 cm)",
            "format": "int32",
            "nullable": true
          },
          "ManeuvringSpaceSignagePresent": {
            "type": "boolean",
            "description": "Barrier-free access space signage present",
            "nullable": true
          },
          "BarrierFreeAccessSpacetoChargingPoint": {
            "type": "boolean",
            "description": "Barrier-free access space to charging point(monitor / pistol)",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EchargingDataProperties": {
        "type": "object",
[...]
